# Terraform 상태 파일들 (중요 정보 포함)
*.tfstate
*.tfstate.*

# Crash 로그
crash.log

# Terraform 작업 디렉토리
.terraform/
.terraform.lock.hcl

# 계획 파일 (plan)
*.tfplan

# override 파일들 (로컬에서만 쓰이는 파일)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# 변수 파일 (민감 정보 포함 가능)
*.tfvars
*.tfvars.json

# IDE 관련 파일들 (예: VSCode)
.vscode/
.idea/
*.swp
*.bak
*.tmp